@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
html, body{
    height: 100%;
    width: 100%;
}
/*!!!!!!!!!!!!!! shered styles !!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
.small-gray-text{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.dark-head{
    font-weight: 900;
    font-size: 32px;
    color: #0D1321;
}
.gray-head{
    font-weight: bold;
    color: #0D1321;
    font-size: 24px;
}
.gray-buttons{
    line-height: 47px;
    width: 171px;
    border: 1px solid #0D1321;
    font-size: 18px;
    border: 1px solid gray;
    color: #0D1321;
    font-weight: 600;
    /* margin-top: 32px; */
    margin-bottom: 58px;
    cursor: pointer;
}
.link-here{
    font-weight: bold;
    font-size: 16px;
    color: #0D1321;
    text-decoration-color: #0D1321;
}
/*!!!!!!!!!!!!!!! main shered styles end !!!!!!!!!!!!!!!!!!!!! */
/* head part */
header{
    height: 600px;
    width: 100%;
    background: url(assets/Hero-bg.png);
    display: flex;
    justify-content: center;
    padding-top: 24px;
}
header div{
    height: 581px;
    width: 798px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header img{
    width: 240px;
    height: 240px;
    margin: 0 300px 30px 300px;
}
header h1{
    font-size: 40px;
    font-weight: 900;
    color: #0D1321;
    margin-bottom: 24px;
    text-align: center;
}
header p{
    text-align: center;
    margin-bottom: 24px;
}
header a{
   
    padding: 25px;
    text-decoration: none;
    display: inline-block;
    width: 233px;
    background: #0D1321;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin: 9px 300px 45px 300px;
    text-align: center;
}
/* main part starts here */
.purpose-of-my-coding{
    
    padding: 150px 210px 90px 140px;
}
.purpose-of-my-coding h2{
    text-align: center;
    margin-bottom: 24px;
}
.purpose-of-my-coding p{
    text-align: center;
    margin-bottom: 24px;
}
.purpose-of-my-coding-box-shape{
    height: 336px;
    width: 100%;
    margin-bottom: 48px;
    padding: 60px;
}
.purpose-of-my-coding .box-container1{
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}
.purpose-of-my-coding .box-container1 .box-1{
   height: 219px;
   width: 477px;
   
   text-align: left;
   display: flex;
   flex-direction: column;
   row-gap: 20px; 
}
.purpose-of-my-coding .box-container1 .box-2{
    height: 240px;
    width: 274px;
    
 }
 .purpose-of-my-coding .box-container2{
    display: flex;
    justify-content: space-between;
    
 }
 .purpose-of-my-coding .box-container2 .box-1{
    height: 240px;
    width: 240px;
 }
 .purpose-of-my-coding .box-container2 .box-2{
    height: 219px;
    width: 447px;
    
 }
 .purpose-of-my-coding .box-container3 .box-1{
    height: 219px;
    width: 477px;
 }
 .purpose-of-my-coding .box-container3 .box-2{
    height: 240px;
    width: 240px;
 }
 .purpose-of-my-coding .box-container3{
    display: flex;
    justify-content: space-between; 
 }
 .my-inspiration h2{
    font-weight: bolder;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
 }
 .my-inspiration p{
    text-align: center;
    margin-bottom: 48px;
 }
 .my-inspiration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 775px;
    width: 100%;
    padding-right: 100px;
    padding-left: 100px;
 }
 .my-inspiration iframe{
    margin: 30px auto 150px auto;
 }
.my-target{
    width: 100%;
    height: 460px;
    padding-right: 100px;
    padding-left: 100px;
    margin-bottom: 100px;
}
.my-target img{
    height: 56px;
    width: 56px;
}
.my-target h2{
    text-align: center;
    font-size: 38px;
    margin-bottom: 24px; 
}
.my-target p{
    text-align: center;
    margin-bottom: 48px;
}
.target-container{
    display: flex;
    
}
.my-target .target-container div{
    width: 364px;
    height: 299px;
    margin: 35px;
    

}
.my-target .target-container .box-1 h2{
    text-align: left;
    margin-top: 20px;
}
.my-target .target-container .box-1 p{
    text-align: left;
}
.my-target .target-container .box-2 h2{
    text-align: left;
    margin-top: 20px;
}
.my-target .target-container .box-2 p{
    text-align: left;
}
.my-target .target-container .box-3 h2{
    text-align: left;
    margin-top: 20px;
}
.my-target .target-container .box-3 p{
    text-align: left;
}
footer{
    margin: 160px;
    
}
footer .box-1{
    height: 280px;
    width: 100%;
    background: url(assets/handshake.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 28px;
    /* padding-bottom: 300px; */
}
footer .box-1 h2{
    color: #fffbfb;
    font-size: 28px;
    text-align: center;
    margin: 30px;
}
footer .box-1 p{
    color: #ffffff;
    text-align: center;
    font-weight: 300;
}
footer .box-2{
    display: flex;
    margin: 35px;
    flex-direction: row;
    justify-content: center;
}
footer .box-2 input{
    height: 57px;
    width: 500px;
    border-radius: 8px;
    border: none;
    margin-right: 16px;
}
footer .box-2 input[placeholder]{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
footer .box-2 button{
    height: 57px;
    width: 120px;
    border-radius: 8px;
    border: none;
    color: #0D1321;
    font-size: 18px;
    font-weight: 600;
}
footer .box-3{
    width: 100%;
    height: 100px;
}
footer .box-3 img{
    width: 38px;
    height: 38px;
    
}
footer .box-3{
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0px auto;
}
footer .box-3 h3{
    color: rgb(37, 34, 34);
}